body {
    font-family: 'Cutive Mono', monospace;
}

/* ------------------------------------------ HEADING TEXT */
.heading-text {
    padding-top: 15px;
    margin-top: 10px;
    border-top: #000 solid 1px;
}

.heading-text h3 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}


/* ------------------------------------------ HEADING LIST */
.table {
    margin-bottom: .75rem;
}

.clickers {
    font-family: 'Raleway', sans-serif;
}

.heading-list {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    border-bottom: #000 solid 1px;
}

.heading-list a {
    color: darkblue;
    font-size: 1rem;
}

.heading-list span {
    color: darkorange;
}

ul#horizontal-list {
    margin-bottom: 0px;
    padding-left: 0;
}

ul#horizontal-list li {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

.text-span {
    font-size: 1.2rem;
}

/* ------------------------------------------ DROPDOWN */
.info-para {
    font-size: 1em;
    border: rgba(0, 0, 0, 0.15) .5px solid;
    padding: 5px;
    text-align: justify;
}

.info-dd {
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 80px;
    overflow: scroll;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
}

/* ------------------------------------------ CHARTS */
.allgraphs {
    text-decoration-line: underline;
    padding-top: 20px;
}

.allgraphs svg {
    text-align: center;
}

.allgraphs p {
    font-family: 'Raleway', sans-serif;
}

#stacked-choice {
    padding-left: 50px;
}

#discipline-bar .bar {
    fill: #4169e1;
}

#discipline-bar .x.axis text {
    text-anchor: start !important;
    transform: rotate(-90deg) translate(10px, -14px);
    letter-spacing: 0.5em;
    fill: #fff;
}

#composite-chart p {
    letter-spacing: .2rem;
}

#composite-chart {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-right: 10px;
}

#database-pie {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
}

/* ------------------------------------------ FOOTER */

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.35);
    border-top: rgba(0, 0, 0, 0.35) solid 1px;
    padding-right: 0;
    padding-top: 5px;
}

/* ------------------------------------------ MEDIA QUERIES */
@media(min-width: 900px) {
    ul#horizontal-list li {
        display: inline;
    }
}

@media(min-width: 600px) {
    .info-dd {
        height: 100%;
        overflow: hidden;
    }
}




/* ------------------------------------------ TESTING CODE */
/* * {
    background: #000 !important;

    color: #0f0 !important;

    outline: solid #f00 1px !important;
} */