body {
    font-family: 'Lato', serif;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
}

.allgraphs {
    text-decoration-line: underline;
    padding-top: 32px;
}

.table {
    display: table;
}

.lo_numbers {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    border-bottom: #000 solid 1px;
    padding-top: 15px;
}

.info_para {
    font-size: 1em;
    border: rgba(0,0,0,0.15) .5px solid;
    padding: 5px;
    text-align: justify;
}

.info_dd {
    padding: 0;
}

.info_button {
    margin: 0;
}

.lo_numbers a {
    color: darkblue;
    font-size: 1rem;
}

.lo_numbers span {
    color: darkorange;
}

.lo_numbers p {
    color: darkblue;
    font-size: 1rem;
    background-color: none;
    border: none;
}

ul#horizontal-list {
    list-style: none;
    margin-bottom: 0px;
    margin-left: 5px;
}

ul#horizontal-list li {
    display: block;
}

#discipline-bar .x.axis text {
    text-anchor: start !important;
    transform: rotate(-90deg) translate(10px, -14px);
    letter-spacing: 0.5em;
    fill: #fff;
}

#composite-chart {
    width: 100%;
    padding-bottom: 100px;
}

#composite-chart p {
    padding-top: 30px;
}

.time_series p {
    text-decoration-line: underline;
}

@media(min-width: 900px) {
    ul#horizontal-list li {
      display: inline;
    }
  }


/* * {
    background: #000 !important;

    color: #0f0 !important;

    outline: solid #f00 1px !important;
} */

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */