.dc-chart {
    font-family: 'Lato', serif;
}


.section-paragraph {
    padding-bottom: 50px;
    margin: 20px;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
}

div .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.lo-numbers p {
    font-family: 'Lato', sans-serif;
    background-color: pink;
    margin-top: 20px;
    font-weight: 700;
    font-size: 2rem;
}

.change-text {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
}


.intro {
    background-color: white;
    position: relative;
    top: 150%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6em;
    font-family: 'Lato'sans-serif;
    width: 400px;
}

#composite-chart {
    left: 150px;
}

#stacked-choice {
    left: 50px;
}

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #000;

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }