.dc-chart {
    font-family: 'Lato', serif;
}

/* .dc-chart .axis text {
    font-weight: 700;
    letter-spacing: .2rem;
} */

#country-chart .axis text {
    fill: blue;
    font-family: 'Lato', sans-serif;
}

.country-op {
    display: inline;
}

.section-paragraph {
    padding-bottom: 50px;
    margin: 20px;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
}

/* .country-container {
	margin: 0;
} */

.discipline-container {
    float: right;
}