.dc-chart {
    font-family: 'Lato', serif;
}

#country-chart {
    margin: 10px 60px 10px 10px;
}

#country-chart svg g g.axis { display: none; }

.rightpane button {
    color: blue;
}

.section-paragraph {
    padding-bottom: 20px;
    margin: 20px;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.dc-chart g.row text {
    fill: #000;
    font-size: 12px;
    cursor: pointer;
}

.lo-numbers {
    font-family: 'Lato', sans-serif;
    color: darkblue;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: #fafafa;
    /* bottom: 50px; */
}

/* .time_series {
    float: left;
} */

.change-text {
    position: absolute;
    margin: auto;
    top: 25%;
    right: 0;
    bottom: 0;
    left: 0;
}


.intro {
    background-color: white;
    position: relative;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6em;
    font-family: 'Lato'sans-serif;
    width: 400px;
}

#composite-chart {
    left: 150px;
}

#stacked-choice {
    left: 50px;
}

.infoButt button {
     margin-right: 50px; 
}

.infoButt p {
    /* padding-left: 40px; */
    display: inline;
    text-decoration-line: underline;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1em;
    font-size: 2em;
}



/* * {
    background: #000 !important;

    color: #0f0 !important;

    outline: solid #f00 1px !important;
} */

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */

